@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');


/* font-family: 'Montserrat', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    font-family: 'Montserrat', sans-serif;


}

.side-bar {
    width: 223px;
    height: auto;

}

section.info {
    height: 340px;
    text-align: center;
    background-color: #FFFFFF
}

.logo {
    padding-top: 70px;
    font-size: 27px;
    font-weight: 600;
}

.logo span {
    font-size: 18px;

}

.userimg {
    padding-top: 15%;
    padding-bottom: 5%;
}

.userimg img {

    border-radius: 50%;

}

.green {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-left: 110px;
    margin-top: -16px;
    background-color: aquamarine;
    z-index: 10;
    position: relative;
}

.user p {
    padding-top: 3%;
    font-size: 12px;
    color: #a5a5a5;
}

#role {
    color: #3187C6;
}

.info .anchor {
    padding-top: 12%;
}

.info a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #3187C6;
}

.menu {

    border-top: 2px solid #f1f1f2e8;
    padding-bottom: 5%;
}

.side-bar ul {
    margin-left: 20%;
    padding-top: 10%;
}

.side-bar ul li {
    font-size: 12px;
    list-style: none;
    padding: 8%;



}

.menu li:first-child {
    border-left: 2px solid #3187C6;
}

.adminmenu {
    background-color: #F1F1F2;
    padding-bottom: 10%;

}

.adminmenu li:first-child {
    font-weight: 600;
}

.search {
    padding-top: 60%;
    padding-bottom: 35%;

}

.search input {
    width: 75%;
    height: 38px;
    margin-left: 25px;
    border: 2px solid #a5a5a5;
    border-radius: 20px;
    background: url('./images/search_icon.svg') no-repeat 9px center;
}



.search p {
    text-align: center;
    padding-left: 20px;
}


/* MY IDEAS */

main {
    width: 100%;
    background-color: #F1F1F2;
}

.copyright {
    margin-left: 120px;
    padding: 15px;
    font-size: 14px;

}

.idea {

    margin: 80px;
    margin-top: 6%;


}

.idea h2 {
    text-align: left;
    padding-bottom: 30px;
    color: #808080;
    border-bottom: 2px solid #d4d4d4;

}

.ideas-list {
    display: flex;
    justify-content: space-between;
}

.ideas-list article {
    width: 100%;
    height: auto;
    margin: 2px;
    margin-right: 20px;
}

.ideas-list article h3 {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #808080;

}

.ideas-list article div {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 15px;
    padding: 18px;
}

.ideas-list article img {
    width: 20px;
    height: 15px;

}

.ideas-list p {
    color: #3187C6;
    font-size: 14px;
    font-weight: 700;
}

.ideas-list p.date {
    font-weight: 400;
    font-size: 12px;
}

/* Notification */

.notification {
    display: flex;
    position: fixed;
    bottom: 0px;
    right: 0px;

}

.bottom {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    width: 180px;
    margin: 1px;
    text-align: center;
    padding: 16px;
    color: #3187C6;
    font-size: 14px;
    font-weight: 700;
    background-color: #FFFFFF;
    border: none;

}

.bottom img {
    width: 18px;
    height: 18px;
    padding-top: 8px;

}

.bottom a {
    text-decoration: none;
    padding-top: 5px;
}

#circle {
    height: 30px;
    width: 30px;
    color: #F1F1F2;
    padding-top: 5px;
    font-size: 16px;
    border-radius: 50px;
    background-color: #3187C6;

}


/* MEDIA QUERYS */

@media (min-width: 412px) and (max-width: 575px) {


    .copyright {
        margin-left: 20px;
        color: #a5a5a5;
        font-size: 9px;

    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;

    }

    .side-bar {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

    }

    section.info {
        width: 100%;
        height: 420px;
        text-align: center;

    }

    .logo {
        padding-top: 30px;
        font-size: 35px;

    }

    .logo span {
        font-size: 22px;

    }

    .userimg {
        padding-top: 10%;
        padding-bottom: 0;
    }

    .userimg img {
        width: 150px;
        height: 150px;

    }

    .green {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        margin-left: 240px;
        margin-top: -30px;
        background-color: aquamarine;
        z-index: 10;
        position: relative;
    }

    .user p {
        padding-top: 3%;
        font-size: 18px;
        color: #a5a5a5;
    }

    #role {
        color: #3187C6;
    }


    .info a {
        font-size: 18px;

    }

    .menu {
        width: 50%;
        border-top: 2px solid #f1f1f2e8;
        padding-bottom: 5%;
    }


    .side-bar ul li {
        font-size: 16px;



    }

    .side-bar .search ul li {

        padding-left: 0;
        margin-right: 20%;
        text-align: center;
    }

    .adminmenu {
        width: 50%;
        background-color: #F1F1F2;
        padding-bottom: 10%;

    }

    .adminmenu li:first-child {
        font-weight: 600;
    }




    .search {
        width: 100%;
        padding-top: 10%;
        padding-bottom: 5%;

    }

    .search input {
        width: 90%;
        height: 38px;
        margin-left: 25px;

    }

    .search p {
        text-align: center;
    }

    .ideas-list {
        display: block;
        justify-content: space-between;
    }

    .ideas-list article {
        width: 100%;
        height: auto;
        margin: 2px;
        margin-right: 20px;
    }

    .ideas-list article h3 {
        padding-top: 30px;
        padding-bottom: 30px;
        color: #808080;

    }

    .ideas-list article div {
        display: flex;
        justify-content: space-between;
        background-color: white;
        margin-bottom: 15px;
        padding: 18px;
    }

    .ideas-list article img {
        width: 20px;
        height: 15px;

    }

    .ideas-list p {
        color: #3187C6;
        font-size: 14px;
        font-weight: 700;
    }

    .ideas-list p.date {
        font-weight: 400;
        font-size: 12px;
    }

    /* Notification */

    .notification {
        display: flex;
        position: fixed;
        bottom: 0px;
        right: 0px;

    }

    .bottom {
        display: flex;
        justify-content: space-evenly;
        height: 50px;
        width: 180px;
        margin: 1px;
        text-align: center;
        padding: 16px;
        color: #3187C6;
        font-size: 14px;
        font-weight: 700;
        background-color: #FFFFFF;
        border: none;

    }

    .bottom img {
        width: 18px;
        height: 18px;
        padding-top: 8px;

    }

    .bottom a {
        text-decoration: none;
        padding-top: 5px;
    }

    #circle {
        height: 30px;
        width: 30px;
        color: #F1F1F2;
        padding-top: 5px;
        font-size: 16px;
        border-radius: 50px;
        background-color: #3187C6;

    }




}

@media (min-width: 576px) and (max-width: 777px) {

    section.info {
        height: 250px;
    }


    .logo {
        padding-top: 40px;
        font-size: 20px;
    }

    .logo span {
        font-size: 16px;

    }




    .green {

        margin-left: 95px;
        margin-top: -16px;

    }

    /* MY IDEAS */



    .copyright {
        margin-left: 20px;
        color: #a5a5a5;
        font-size: 12px;

    }




    .ideas-list {
        display: block;
        justify-content: space-between;
    }

    .ideas-list article {
        width: 100%;
        height: auto;
        margin: 2px;
        margin-right: 20px;
    }

    .ideas-list article h3 {
        padding-top: 30px;
        padding-bottom: 30px;
        color: #808080;

    }

    .ideas-list article div {
        display: flex;
        justify-content: space-between;
        background-color: white;
        margin-bottom: 15px;
        padding: 18px;
    }

    .ideas-list article img {
        width: 20px;
        height: 15px;

    }

    .ideas-list p {
        color: #3187C6;
        font-size: 14px;
        font-weight: 700;
    }

    .ideas-list p.date {
        font-weight: 400;
        font-size: 12px;
    }

    /* Notification */

    .notification {
        display: flex;
        position: fixed;
        bottom: 0px;
        right: 0px;

    }

    .bottom {
        display: flex;
        justify-content: space-evenly;
        height: 50px;
        width: 180px;
        margin: 1px;
        text-align: center;
        padding: 16px;
        color: #3187C6;
        font-size: 14px;
        font-weight: 700;
        background-color: #FFFFFF;
        border: none;

    }

    .bottom img {
        width: 18px;
        height: 18px;
        padding-top: 8px;

    }

    .bottom a {
        text-decoration: none;
        padding-top: 5px;
    }

    #circle {
        height: 30px;
        width: 30px;
        color: #F1F1F2;
        padding-top: 5px;
        font-size: 16px;
        border-radius: 50px;
        background-color: #3187C6;

    }

}